* {
    box-sizing: border-box;
}

body {
    background-color: #050404;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

}

header, main {
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    padding: 0 10px;

}
