.header {
    padding: 60px 0;
}

.header__container {
   padding: 0 10px;

}

.menu {
    display: inline-block;
    text-align: center;
}

.header__logo {
    float: left;
}

.menu__list {
    padding: 0;
    margin: 0 120px 0 110px;
    font-weight: 400;
    font-size: 22px;
    list-style-type: none;
}

.menu__item {
    display: inline-block;
}

.menu__item:not(:last-child) {
    margin-right: 28px;
    padding: 0;
}

.menu__link {
    text-decoration: none;
    color: inherit;
}

.form-search {
    display: inline-block;
    height: 55px;
    width: 280px;
    background-color: #050404;
    border: 3px solid #9965e3;
    border-radius: 10px;
}

.form-search__input {
    padding: 0 15px;
    width: 210px;
    height: 35px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: #050404;
    color: #cccccc;
    border: none;
    outline: none;
    caret-color: #cccccc;
}

.form-search__input::placeholder {
    color: #cccccc;
    font-weight: 700;
    font-size: 22px;
}

.form-search__button {
    position: relative;
    top: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }
