.present {
    padding: 20px 0;
}

.present__container {
    position: relative;
    height: 783px;
    text-align: center;
}

.present__container:after {
    content: '';
    top: 0;
    left: 10px;
    bottom: 0;
    right: 10px;
    background-image: url("../image/present/kate_leo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

.present__title {
    font-weight: 700;
    font-size: 100px;
    color: #ffb822;
    margin: 0;
    padding-top: 325px;
    line-height: 1;
}

.present__subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 0.5;
}